@import 'variables';

.MuiToolbar-regular {
  background-color: #535353;
  color: $light;
}

.nav-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiTypography-h6 {
  .MuiSvgIcon-root {
    vertical-align: middle;
    margin-right: 8px;
  }
}

.MuiListItemIcon-root {
  padding-left: 7px;

  @media screen and (max-width: 425px) {
    padding-left: 0;
  }
}

form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .MuiTextField-root {
        margin-right: 16px;
    }
}
